<div class="container"
    fxLayout="row"
    fxLayout.sm="column"
    fxLayout.xs="column"
    fxLayoutAlign.gt-mat="space-around center"
    fxLayoutGap="10px"
    fxLayoutGap.xs="0">

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- <p>Display the details of the Dish here</p> -->
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          <h3> {{ dish.name | uppercase}} </h3>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{BaseURL + dish.image}}" alt="{{dish.name}}">
      <mat-card-content>
        <p> {{dish.description}}</p>
      </mat-card-content>
      <mat-card-actions>
        <button md-button [routerLink]="['/dishdetail',prev]">
          <span class="fa fa-chevron-left fa-lg"></span>
        </button>
        <button md-button (click)="goBack()">BACK</button>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
        <span class="flex-spacer"></span>
        <button md-button [routerLink]="['/dishdetail',next]">
          <span class="fa fa-chevron-right fa-lg"></span>
        </button>
      </mat-card-actions>
    </mat-card>
    <div [hidden]="dish || errMess">
      <mat-spinner></mat-spinner>
      <h4>Loading... Please Wait</h4>
    </div>
    <div *ngIf="errMess">
      <h2>Error</h2>
      <h4>{{errMess}}</h4>
    </div>
  </div>

  <div fxFlex="40" *ngIf="dish" [@visibility]="visibility" [@expand]>
    <!-- Display list if dish is not null -->
    <mat-list>
      <h3>Comments</h3>
      <!-- Render each comment in comments -->
      <mat-list-item *ngFor="let comment of dish.comments">
        <p mat-line>{{comment.comment}}</p>
        <p mat-line>{{comment.rating}} Stars</p>
        <!-- Piped date to update formatting of date string -->
        <p mat-line>-- {{comment.author}} {{comment.date | date}}</p>
      </mat-list-item>
      <mat-list-item *ngIf="commentForm.valid">
        <p mat-line>{{commentForm.value.comment}}</p>
        <p mat-line>{{commentForm.value.rating }} Stars</p>
        <p mat-line>-- {{commentForm.value.author}}</p>
        <!-- <p mat-line>{{commentForm.value}} Stars</p> -->
      </mat-list-item>
    </mat-list>
    <form novalidate [formGroup]="commentForm" (ngSubmit)="onSubmit()">
      <mat-input-container class="full-width">
        <input matInput formControlName="author" placeholder="Name" type="text" required>
        <mat-error *ngIf="formErrors.author">{{ formErrors.author }}
        </mat-error>
      </mat-input-container>
      <mat-slider class="half-width" thumbLabel min="1" max="5" step="1" tickInterval="1" value="5" tick>
      </mat-slider>
      <mat-input-container class="full-width">
        <textarea matInput formControlName="comment" placeholder="Your Comment" rows=12></textarea>
        <mat-error *ngIf="formErrors.comment">{{ formErrors.comment }}
        </mat-error>
      </mat-input-container>
      <!-- BUG: Need to add support for onSubmit and disabled inside the component -->
      <button type="submit" mat-button class="background-primary text-floral-white"
        [disabled]="commentForm.invalid">Submit
      </button>
    </form>
  </div>

</div>
